#about {
	background: #FBFBFB;
	padding: 120px 0 100px 0;
	line-height: 25pt;
	color: $grey;
    font-weight: 400;
	h2 {
		color: $blue;
		font-size: 20px;
	}
	p {
		font-size: 28px;
        line-height: 40pt;
	}
	h4 {
		margin: 60px 0 20px;
	}
}