#details {
    color: white;
    background: white;
    line-height: 20pt;
    ul {
        top: 840px;
        position: relative;
        display: inline-block;
        padding: 6px 18px;
        border-radius: 50px;
        border: 2px solid white;
    }
    li {
        display: inline-block;
        margin: 0 5px;
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $grey;
        }
    }
}

.carousel {
    width: 100%;
    position: relative;
    text-align: center;
    .owl-nav {
        div {
            width: 16px;
            height: 100px;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            z-index: 5;
            overflow: hidden;
            text-indent: -1000px;
            cursor: pointer;
            &.owl-prev {
                background: url(../images/left.png) no-repeat center center;
                background-size: 16px;
                left: 20px;
                width: 60px;
            }
            &.owl-next {
                background: url(../images/right.png) no-repeat center center;
                background-size: 16px;
                right: 20px;
                width: 60px;
            }
        }
    }
    .carousel-item {
        width: 100%;
        height: 900px;
        transform: translate3d(0, 0, 0);
    }
}

.item-one {
    background: url(../images/h_cosmo.png) $green no-repeat center center;
    background-size: 382px;
}

.item-two {
    background: url(../images/h_cosmo.png) $blue no-repeat center center;
    background-size: 382px;
}