/* Tablets */

@media (max-width: 992px) {
    /* Font size */
    
    #presentation .content,
    #about,
    #details,
    #works,
    #talk .content {
        h2, h3, h4, ul, li, p, a {
            font-size: 20px;
        }
    }
    /* Presentation */
    
    #presentation .content {
        h1 {
            font-size: 80px;
        }
        .typed-cursor {
            font-size: 110px;
        }
        h3 {
            margin: 20px 0;
        }
    }
    /* About & Works */
    
    #about {
        padding: 100px 0 40px;
        h4 {
            margin: 40px 0 10px;
        }
        p {
            font-size: 26px;
        }
    }
    #works {
        padding: 40px 0 100px;
        a {
            margin-top: -5px;
        }
        a,
        p {
            margin-bottom: 20px;
        }
        a:after {
            top: 8px;
            left: 10px;
            width: 28px;
            height: 28px;
            background: url(../images/arrow.png) 10px center no-repeat;
            background-size: 6px;
        }
    }
    #about,
    #works {
        h2 {
            margin: 0 0 20px 0;
        }
    }
    /* Work */
    
    .owl-nav {
        display: none;
    }
    /* Talk */
    
    #talk .content {
        h1 {
            font-size: 60px;
            margin-bottom: 60px;
        }
        .button {
            margin-top: 60px;
            padding: 19px 50px;
            font-size: 18px;
        }
    }
}

@media (max-width: 768px) {}