/* Tablets */

@media (max-width: 992px) {
    /* Presentation */
    
    #presentation .content {
        h1 {
            font-size: 80px;
        }
        .typed-cursor {
            font-size: 110px;
        }
        h3 {
            margin: 20px 0;
        }
    }
    /* About & works */
    
    #about {
        padding: 120px 0 40px;
        h4 {
            margin: 40px 0 10px;
        }
        p {
            font-size: 26px;
        }
    }
    #works {
        padding: 40px 0 120px;
        a {
            margin-top: -5px;
        }
        a:after {
            top: 8px;
            left: 10px;
            width: 28px;
            height: 28px;
            background: url(../images/arrow.png) 10px center no-repeat;
            background-size: 6px;
        }
    }
    /* Talk */
    
    #talk .content {
        h1 {
            font-size: 60px;
            margin-bottom: 60px;
        }
        .button {
            margin-top: 60px;
            padding: 19px 50px;
            font-size: 18px;
        }
    }
}
/* Phones  */

@media (max-width: 768px) {
    /* No "Hi" balloon */
    
    .hi {
        display: none;
    }
    /* Font size */
    
    #presentation .content,
    #about,
    #works,
    #details,
    #other,
    #talk .content {
        h3, h4, ul, li, p, a {
            font-size: 16px;
        }
        h2 {
            font-size: 20px;
        }
    }
    /* Fix underline links */
    
    #presentation .content ul li a,
    #talk .content ul li a,
    #other a {
        &:after {
            @include position(absolute, 20px null 0 0);
        }
    }
    /* Presentation */
    
    #presentation .content {
        h1 {
            font-size: 38px;
        }
        .typed-cursor {
            font-size: 52px;
        }
        h3 {
            margin: 20px 30px 10px;
        }
        h3,
        ul {
            line-height: 18ept;
        }
    }
    /* About & works */
    
    #about {
        padding: 60px 0 30px;
        line-height: 18pt;
        h2 {
            margin-bottom: 20px;
        }
        h4 {
            margin: 30px 0 10px;
        }
        p {
            font-weight: 400;
        }
        p,
        ul,
        li {
            line-height: 20pt;
        }
    }
    #works {
        padding: 30px 0 60px;
        line-height: 18pt;
        h2, p {
            margin-bottom: 20px;
        }
        a {
            line-height: 20pt;
        }
        a:after {
            top: 8px;
            left: 10px;
            width: 28px;
            height: 28px;
            background: url(../images/arrow.png) 10px center no-repeat;
            background-size: 11px;
        }
    }
    #other {
        line-height: 18pt;
        ul li {
            margin: 0 0 10px 0;
            display: list-item;
        }
        ul li:last-child {
            margin: 0 0 0 0;
        }
        h2 {
            margin-bottom: 20px;
        }
    }
    /* Details */
    
    #details {
        line-height: 16pt;
        ul {
            top: 645px;
        }
    }
    .owl-nav {
        display: none;
    }
    .carousel {
        .carousel-item {
            height: 695px;
        }
        .item-one,
        .item-two {
            background-size: 290px;
        }
    }
    /* Talk */
    
    #talk .content {
        line-height: 18pt;
        h1 {
            font-size: 34px;
            margin-bottom: 40px;
        }
        ul {
            margin-top: 10px;
        }
        .button {
            margin-top: 40px;
            padding: 15px 30px;
            font-size: 18px;
        }
    }
}