#presentation {
    height: 100vh;
    text-align: center;
    .content {
        width: 100%;
        @include position(absolute, 50% null null);
        transform: translate(0, -50%);
        h1 {
            color: $dark-blue;
            font-size: 100px;
            font-weight: 700;
            letter-spacing: -1pt;
            text-transform: uppercase;
            display: inline-block;
        }
        .typed-cursor {
            color: $blue;
            font-size: 140px;
            font-weight: 700;
            opacity: 1;
            animation: blink 800ms infinite;
            display: inline-block;
        }
        h3 {
            color: $grey;
            margin: 40px 0 20px;
            line-height: 20pt;
        }
        ul {
            li {
                margin: 0 10px;
                line-height: 20pt;
                display: inline-block;
                a {
                    color: $green;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        width: 0%;
                        height: 2px;
                        @include position(absolute, 25px null 0 0);
                        content: '';
                        background: $green;
                    }
                    &:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

// Blink animation

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
