@keyframes blink{
	0% { opacity:1; }
	50% { opacity:0; }
	100% { opacity:1; }
}

#presentation {
	height: 100vh;
	text-align: center;
	.content {
		width: 100%;
		@include position(absolute, 50% null null 0);
		transform: translate(0, -50%);
		h1 {
			color: $dark-blue;
			font-size: 100px;
			font-weight: 700;
            letter-spacing: -1pt;
			text-transform: uppercase;
			display: inline-block;
		}
		.typed-cursor{
			opacity: 1;
			animation: blink 0.7s infinite;
			color: $blue;
			font-size: 140px;
			font-weight: 600;
		}
		h3 {
			color: $grey;
			margin: 40px 0 20px;
            line-height: 20pt;
		}
		ul {
			li {
				display: inline-block;
				margin: 0 10px;
				a {
					color: $green;
					text-decoration: none;
					position: relative;
					&:after {
						width: 0%;
						height: 2px;
						@include position(absolute, 25px null 0 0);
						content: '';
						background: $green;
						/*transition: all 150ms ease;*/
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}