#talk {
	text-align: center;
	padding: 180px 0;
	h1 {
		color: $dark-blue;
		font-weight: 700;
		font-size: 80px;
		text-transform: uppercase;
		margin-bottom: 80px;
	}
	p {
		color: $grey;
	}
	ul {
		margin-top: 20px;
		li {
			display: inline-block;
			margin: 0 10px;
			a {
				color: $green;
				text-decoration: none;
				position: relative;
				&:after {
					width: 0%;
					height: 2px;
					@include position(absolute, 25px null 0 0);
					content: '';
					background: $green;
					/*transition: all 150ms ease;*/
				}
				&:hover {
					&:after {
						width: 100%;
					}
				}
			}
		}
	}
	.button {
        margin-top: 80px;
		display: inline-block;
		border: 2px solid $green;
		padding: 20px 60px;
		border-radius: 50px;
		color: $green;
		text-decoration: none;
		transition: all 150ms ease;
		&:hover {
			background: $green;
			color: white;
		}
	}
}






/* Media queries */

@media (max-width: 992px) {

#presentation .content h1 { font-size: 80px; }
#presentation .content .typed-cursor { font-size: 110px; }
    .hi { @include position(fixed, 10px 10px null null);  }
    .owl-nav {
         display: none;
     }
}

@media (max-width: 768px ) {

    #presentation .content h1 { font-size: 40px; }
    #presentation .content .typed-cursor { font-size: 60px; }
    body { font-size: 15px; }
    #about { line-height: 20pt; }
    #about p { font-size: 20px; line-height: 30pt; }
    h2 { margin-bottom: 20px; font-size: 20px; }
    
}

::-moz-selection {
    background: $green;
    color: white;
    
}

::selection {
     background: $green;
    color: white;
}
