#works {
	background: #FAFAFC;
	padding: 100px 0;
	line-height: 2;
	color: $grey;
	h2 {
		color: $blue;
		font-size: 18px;
	}
	a {
		color: $green;
		display: inline-block;
		margin: -10px 0 20px;
		&:after {
			display: inline-block;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			border: 2px solid $green;
			background: url(../images/arrow.png) 12px center no-repeat white;
			background-size: 6px;
			content: '';
			position: relative;
			top: 10px;
			left: 10px;
		}
	}
	p {
		font-weight: 300;
	}
}