#works {
	background: #FAFAFD;
	padding: 100px 0 120px 0;
	line-height: 25pt;
	color: $grey;
	h2 {
		color: $blue;
	}
	a {
		color: $green;
		display: inline-block;
		margin: -10px 0 20px;
        text-decoration: none;
		&:after {
			display: inline-block;
			border-radius: 50%;
			width: 32px;
			height: 32px;
			border: 2px solid $green;
			background: url(../images/arrow.png) 12px center no-repeat;
			background-size: 6px;
			content: '';
			position: relative;
			top: 10px;
			left: 10px;
		}
	}
}