#works {
    color: $grey;
    background: $light-grey;
    padding: 60px 0 140px;
    h2 {
        line-height: 25pt;
        color: $blue;
    }
    p {
        line-height: 25pt;
    }
    a {
        color: $green;
        display: inline-block;
        line-height: 40pt;
        margin: -10px 0 0;
        text-decoration: none;
        &:after {
            position: relative;
            display: inline-block;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            border: 2px solid $green;
            background: url(../images/arrow.png) 12px center no-repeat;
            background-size: 11px;
            content: '';
            top: 10px;
            left: 20px;
        }
    }
}


/* Other stuff */

#other {
    color: $grey;
    background: $light-grey;
    padding: 60px 0 60px;
    line-height: 25pt;
    h2 {
        color: $blue;
    }
    ul {
        li {
            margin: 0 20px 0 0;
            display: inline-block;
        }
    }
    a {
        color: $grey;
        text-decoration: none;
        position: relative;
        &:after {
            width: 0%;
            height: 2px;
            @include position(absolute, 25px null 0 0);
            content: '';
            background: $grey;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}