.carousel {
	position: relative;
	width: 100%;
	height: 800px;
	line-height: 2;
	.owl-nav {
		div {
			position: absolute;
			top: 50%;
			width: 16px;
			height: 31px;
			z-index: 2;
			overflow: hidden;
			text-indent: -1000px;
			cursor: pointer;
			&.owl-prev {
				background: url(../images/left.png) no-repeat center center;
				background-size: 16px;
				left: 40px;
			}
			&.owl-next {
				background: url(../images/right.png) no-repeat center center;
				background-size: 16px;
				right: 40px;
			}
		}
	}
	.owl-item {
		&.active {
			.iphone {
				transform: translateY(0);
				img {
					opacity: 1;
				}
			}
		}
	}
	.carousel-item {
		width: 100%;
		height: 800px;
		background: #333;
		color: $grey;
		transform: translate3d(0,0,0);
		.container {
			height: 100%;
			.row {
				position: relative;
				height: 100%;
				.col-md-4 {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		h1 {
			font-size: 70px;
			font-weight: 600;
			color: white;
			text-transform: uppercase;
		}
		h3 {
			margin-top: 40px;
		}
		li {
			color: white;
		}
	}
}