@keyframes shake {
    0% {
        transform: rotateZ(0deg) translate(-50%, -50%);
    }
    35% {
        transform: rotateZ(-6deg) translate(-50%, -50%);
    }
    65% {
        transform: rotateZ(3deg) translate(-50%, -50%);
    }
    100% {
        transform: rotateZ(0deg) translate(-50%, -50%);
    }
}

body {
    font-family: $main-font;
    font-size: 20px;
    font-weight: 400;
}

.hi {
    @include position(fixed, 20px 20px null null);
    background: $green;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    z-index: 10;
    transition: all 200ms ease;
    span {
        width: 32px;
        height: 28px;
        display: block;
        background: url(../images/bubble.png) no-repeat center center;
        background-size: 32px;
        @include position(absolute, 50% null null 50%);
        transform: translate(-50%, -50%);
        line-height: 28px;
        color: $green;
        padding-left: 3px;
        font-size: 14px;
        box-sizing: border-box;
        transition: all 200ms ease;
    }
    &:hover {
        background: $blue;
        span {
            color: $blue;
            animation: shake 200ms;
        }
    }
}

::-moz-selection {
    background: $green;
    color: white;
}

::selection {
    background: $green;
    color: white;
}